PORT=

API_URL=
CLIENT_URL=

# postgres variables
DB_NAME=
DB_PASSWORD=
DB_USERNAME=
DB_LOCALHOST=


# tokens
JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=

JWT_ACCESS_TOKEN_EXPIRATION_TIME='1h'
JWT_REFRESH_TOKEN_EXPIRATION_TIME='7d'

# AWS S3
S3_BUCKET_NAME=
S3_BUCKET_REGION=
S3_ACCEESS_KEY=
S3_SECRET_ACCEESS_KEY=

# Redis
REDIS_URL=

# Mail
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=